:root {
    //Fonts
    --font-Roboto: 'Roboto', sans-serif;

    // Color
    --color-black: #000000;
    --color-light-black: #4F4F4F;
    --color-white: #FFFFFF;
    --color-green: #7FAF42;
    --color-blue: #5F8AC3;
    --color-gray: #C4C4C4;

    // Font weight
    --font-regular: 400;
    --font-bold: 700;

    //Font size

    --size-biggest: 4.312rem; // 69px
    --size-big: 3.438rem; // 55px
    --size-subtitle: 2.750rem; //44px
    --size-subtitle-medium: 2.375rem; //38px
    --size-subtitle-small: 1.750rem; //28px
    --size-normal-big: 1.438rem; //23px
    --size-normal-20: 1.25rem; // 20px
    --size-normal: 1.125rem; // 18px
    --size-normal-16: 1rem; // 16px
    --size-normal-small: 0.9375rem; // 15px
    --size-normal-small-14: 0.875rem; // 14px
    --size-small: 0.750rem; // 12px


}