.header-top__wrap {
    
}

.header-top__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    grid-row: 1/3;
    grid-column: 2/2;
}


.header-top__email {
    display: none;
    text-decoration: none;
    color: var(--color-blue);
    grid-column: 1/1;

    &:hover {
        text-decoration: underline;
    }
}

.header-top__working {
    display: none;
}

.header-top__numbers {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;

}

.header-top__number {
    text-decoration: none;
    font-size: var(--size-normal);
    color: var(--color-light-black);
    font-weight: var(--font-bold);

    &:hover {
        color: var(--color-blue);
    }
}

@media screen and(min-width:626px) {

    .header-top__email,
    .header-top__working {
        display: inline-block;
    }

    .header-top__wrap {
        display: grid;
        grid-template-columns: 1fr 3fr;
        font-size: var(--size-normal-small);
        row-gap: 5px;
        column-gap: 30px;
        padding-bottom: 5px;
    }

    .header-top__info {
        flex-direction: row;
        gap: 40px;
    }
}

@media screen and(min-width:876px) {
    .header-top__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
}

@media screen and(min-width:1025px) {
    .header-top__numbers {
        flex-direction: row;
    }
}

@media screen and(min-width:1081px) {

    .header-top__info {
        gap: 25px;
    }

    .header-top__numbers {
        gap: 15px;
    }

    .header-top__number {
        font-size: var(--size-normal-big);
    }
}

@media screen and(min-width:1260px) {
    .header-top__info {
        gap: 60px;
    }

    .header-top__numbers {
        gap: 80px;
    }
}